<template>
    <div id="app">
        <h2>Latest summary on {{ formattedDate }}</h2>
        <table>
            <tr>
                <th>Country name</th>
                <th>New Confirmed</th>
                <th>Total Confirmed</th>
                <th>New Deaths</th>
                <th>Total Deaths</th>
                <th>New Recovered</th>
                <th>Total Recovered</th>
            </tr>
            <tr v-for="country in countries" :key="country.slug">
                <td><b>{{country.Country}}</b></td>
                <td>{{country.NewConfirmed}}</td>
                <td>{{country.TotalConfirmed}}</td>
                <td>{{country.NewDeaths}}</td>
                <td>{{country.TotalDeaths}}</td>
                <td>{{country.NewRecovered}}</td>
                <td>{{country.TotalRecovere}}</td>
            </tr>
        </table>
    </div>
</template>

<script>
    export default {
        name: 'App',
        components: {},
        data() {
            return {
                countries: null,
                date: null,
            };
        },
        computed: {
            formattedDate() {
                return new Date(this.date).toLocaleDateString('fi-FI');
            },
        },
        async created() {
            const { data: { Countries: countries, Date: date } } = await this.$api.get('summary');

            // There is an empty row with no values set, we filter by a country having a name
            this.countries = countries.filter(({ Country }) => Country.trim() !== '');
            this.date = date;
        },
    }
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        margin: 4em;
    }

    th, td {
        padding: .5em;
    }

    th {
        text-align: left;
    }
</style>
